# Nairobi Traffic Streaming Analysis

This notebook analyzes simulated traffic data from major Nairobi junctions.

## Load CSV Data

In [11]:

import pandas as pd

df = pd.read_csv("traffic.csv", parse_dates=["timestamp"])
df.head()

,junction,timestamp,avg_speed,vehicle_count
0,Thika Road - Muthaiga,2025-01-01 05:00:00,58,97
1,Uhuru Highway - Haile Selassie,2025-01-01 05:00:00,67,119
2,Waiyaki Way - Westlands,2025-01-01 05:00:00,48,96
3,Ngong Road - Adams Arcade,2025-01-01 05:00:00,51,108
4,Jogoo Road - City Stadium,2025-01-01 05:00:00,52,87

## Congestion Alerts

In [12]:

congestion = df[(df['avg_speed'] < 20) & (df['vehicle_count'] > 100)]
congestion

                       junction           timestamp  avg_speed  vehicle_count
47      Waiyaki Way - Westlands 2025-01-01 07:15:00         19            154
58    Ngong Road - Adams Arcade 2025-01-01 07:45:00         18            135
73    Ngong Road - Adams Arcade 2025-01-01 08:30:00         17            117
94    Jogoo Road - City Stadium 2025-01-01 09:30:00         17            139
228   Ngong Road - Adams Arcade 2025-01-01 16:15:00         19            134
...                         ...                 ...        ...            ...
3128  Ngong Road - Adams Arcade 2025-01-07 17:15:00         17            156
3148  Ngong Road - Adams Arcade 2025-01-07 18:15:00         19            122
3162    Waiyaki Way - Westlands 2025-01-07 19:00:00         19            152
3178  Ngong Road - Adams Arcade 2025-01-07 19:45:00         15            168
3179  Jogoo Road - City Stadium 2025-01-07 19:45:00         18            122

[91 rows x 4 columns]

## Busiest Times Analysis

In [13]:

df['hour'] = df['timestamp'].dt.hour
busy_times = df.groupby(['junction','hour'])['vehicle_count'].mean().reset_index()
busy_times.sort_values('vehicle_count', ascending=False).head(10)

                           junction  hour  vehicle_count
80   Uhuru Highway - Haile Selassie     8     177.678571
79   Uhuru Highway - Haile Selassie     7     176.714286
90   Uhuru Highway - Haile Selassie    18     176.428571
89   Uhuru Highway - Haile Selassie    17     176.392857
91   Uhuru Highway - Haile Selassie    19     175.750000
81   Uhuru Highway - Haile Selassie     9     172.535714
88   Uhuru Highway - Haile Selassie    16     172.214286
113         Waiyaki Way - Westlands    17     159.928571
105         Waiyaki Way - Westlands     9     159.571429
112         Waiyaki Way - Westlands    16     158.428571

## Conclusion
Uhuru Highway: Experiences "Extended Peaks." The volume remains high from 7 AM to 9 AM and 4 PM to 7 PM. This is likely due to its central location as a connector to the Central Business District (CBD).

Waiyaki Way: Shows a "Delayed Morning Peak" (9 AM). This could be attributed to the "school run" or the specific start times of businesses in the Westlands area.

Strategic Recommendations
Traffic Light Optimization: Adjust signal timings at the Haile Selassie junction specifically between 5 PM and 7 PM to favor Uhuru Highway flow.

Ngong Road Monitoring: Given the high frequency of alerts at Adams Arcade, this junction may require dedicated traffic marshals or infrastructure review (e.g., dedicated turning lanes).